root = true

[*]
charset = utf-8
end_of_line = lf
insert_final_newline = true

[*.cs]
indent_style = space
indent_size = 4
dotnet_diagnostic.IDE0055.severity = none
csharp_style_namespace_declarations = file_scoped:warning

[tests/**/*.cs]
dotnet_diagnostic.CA1707.severity = none
